.container {
    display: flex;
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 100%;
    margin: 10px;
    height: auto;
    border: 1px solid black;
    padding: 40px;
}

img {
    max-width: 100%;
}


header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    color: #4caf50;
    text-transform: uppercase;
}

.nome::first-letter {
    color: #f44336;
}

nav a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;

}

button {

    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f44336;
}

span {
    color: #f44336;
}