body {
    background-image: url("comida-japonesa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Young Serif', serif;

   
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    color: #4caf50;
    text-shadow: 8px 5px #333;
    text-transform: uppercase;
    text-align: center;
    
}

.titulo::first-letter {
    color: #f44336;
}

.section {
    background-color: #ffc107;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}

.button {
    background-color: #333;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #4caf50;
}