h1{
    background-color: aqua;
}

h2 {
    background-color: orange;
}

ol{
    color:brown;
}

ul{
    color:brown;
}

span{
    background-color:darkcyan;
}

body{
    background-color: antiquewhite;
}