.container {
    display: flex;
    font-size: 24pt;
    flex-direction: row;
}


.item {
    background-color: rgb(111, 11, 11);
    flex-grow: 1;
}


@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}


.menu {
    list-style: none;
    display: flex;
}


.nav {
    background-color: peru;
    display: flex;
    color: #fff;
    flex-grow: 1;
}


.nav li {
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 1;
    margin-right: 10px;
}


body {
    margin: 0;
}


.hamburguer {
    font-size: 24pt;
    align-items: baseline;
    margin: 10px;
}


@media (min-width: 1024px) {
    .hamburguer {
        display: none;
    }
}


@media (max-width: 767px) {
    .menu {
        display: none;
    }
}


.espaco {
    flex-grow: 1;
}


.jogo {
    width: 200px;
}


.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 42px;
}