.vermelho {
    background-color: red;
}

.laranja {
    background-color: orange;
}

.amarelo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.anil {
    background-color:blueviolet
}

.violeta {
    background-color: violet;
}

* {
    background-color:grey;
}
